<!-- <header class="header">
  <h1>tasks</h1>
  <form >
  <div class="form-row">
      <div class="col-7 col-center">
  <input class="form-control form-control-lg " placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTask.title" (keyup.enter)="addTask()">
      </div></div></form>
</header> -->

<header class="header">

        <div class="form-row">
                <div class="col-12 col-center">
        <input class="form-control form-control-lg new-task" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTask.title" (keyup.enter)="addTask()">
                </div></div>
    </header>
